In [1]:
%matplotlib inline
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from networkx.drawing.nx_agraph import write_dot, graphviz_layout
from pyomo.environ import ConcreteModel, SolverFactory, TerminationCondition, \
    value, Var, Constraint, Expression, Objective, TransformationFactory, units as pyunits
from pyomo.network import Arc, SequentialDecomposition
from idaes.core.util.model_statistics import degrees_of_freedom

from split_test2 import Separator1

from mixer_example import Mixer1

### TODO: CREATE INTRO

##### Import WaterTAP3 Package

In [2]:
import watertap as wt

In [3]:
import case_study_trains

##### Step 1: Look up unit process library. Returns a List.

##### Step 3: Set up IDAES flowsheet for watertap. This selects a property package for you (see water_props.py). The property package could be changed in the future for performing heat/energy and other balances.

##### Step 3: Add a water source and define inlet flow.

In [4]:
case_study_trains.case_study = "Carlsbad"
case_study_trains.reference = "NAWI"
case_study_trains.water_type = "Seawater"

In [5]:
m = wt.watertap_setup(dynamic = False)

In [6]:
m = wt.case_study_trains.get_case_study(flow = 4.5833, m = m)

/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)

fs.source1
fs.sw_onshore_intake
fs.coag_and_floc
fs.sulfuric_acid_addition
fs.sodium_bisulfite_addition
fs.cartridge_filtration
fs.ro_deep
fs.lime_softening
fs.co2_addition
fs.chlorination_twb
fs.ammonia_addition
fs.treated_storage_24_hr
fs.municipal_drinking
fs.backwash_solids_handling
fs.surface_discharge
fs.landfill
fs.source1
yes
fs.sw_onshore_intake
no
goes in
fs.coag_and_floc
no
goes in
fs.sulfuric_acid_addition
no
goes in
fs.sodium_bisulfite_addition
no
goes in
fs.cartridge_filtration
no
goes in
fs.ro_deep
no
goes in
fs.lime_softening
no
goes in
fs.co2_addition
no
goes in
fs.chlorination_twb
no
goes in
fs.ammonia_addition
no
goes in
fs.treated_storage_24_hr
no
goes in
fs.municipal_drinking
yes
fs.backwash_solids_handling
yes
fs.surface_discharge
yes
fs.landfill
yes

In [7]:
wt.display.show_train2(model_name=m)

In [8]:
##### Step 5:  Run model and display results. The resutls display will be put into easier format to read for user soon.

In [9]:
result = wt.run_water_tap(m)

Ipopt 3.12.13:

******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:      660
Number of nonzeros in inequality constraint Jacobian.:        0
Number of nonzeros in Lagrangian Hessian.............:       65

Total number of variables............................:      260
                     variables with only lower bounds:        0
                variables with lower and upper bounds:        0
                     variables with only upper bounds:        0
Total number of equality constraints.................:      260
Total number of inequality constraints...............:        0
        inequality constraints with only lower bounds:        0
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:        0

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0  0.0000000e+00 1.00e+05 0.00e+00  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1  0.0000000e+00 4.93e+02 0.00e+00  -1.0 1.00e+05    -  1.00e+00 1.00e+00h  1
   2  0.0000000e+00 2.03e-02 9.24e+02  -1.0 1.10e+02  -4.0 1.00e+00 1.00e+00h  1
   3  0.0000000e+00 1.38e-02 1.20e-03  -1.0 3.64e+01    -  1.00e+00 1.00e+00h  1
   4  0.0000000e+00 7.86e-03 2.55e+08  -3.8 2.47e+02   0.9 1.00e+00 2.50e-01h  3
   5  0.0000000e+00 1.80e-03 1.28e+08  -3.8 6.24e+01    -  1.00e+00 5.00e-01h  2
   6  0.0000000e+00 1.79e-03 1.12e+08  -3.8 1.25e+02    -  1.00e+00 1.25e-01h  4
   7  0.0000000e+00 1.77e-03 9.76e+07  -3.8 1.40e+02    -  1.00e+00 1.25e-01h  4
   8  0.0000000e+00 1.71e-03 9.15e+07  -3.8 1.62e+02    -  1.00e+00 6.25e-02h  5
   9  0.0000000e+00 1.66e-03 8.58e+07  -3.8 1.73e+02    -  1.00e+00 6.25e-02h  5
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10  0.0000000e+00 1.61e-03 8.04e+07  -3.8 1.84e+02    -  1.00e+00 6.25e-02h  5
  11  0.0000000e+00 1.56e-03 7.54e+07  -3.8 1.97e+02    -  1.00e+00 6.25e-02h  5
  12  0.0000000e+00 1.52e-03 7.07e+07  -3.8 2.06e+02    -  1.00e+00 6.25e-02h  5
  13  0.0000000e+00 1.46e-03 6.61e+07  -3.8 1.97e+02    -  1.00e+00 6.25e-02h  5
  14  0.0000000e+00 1.22e-02 2.17e+07  -3.8 2.23e+02    -  1.00e+00 1.00e+00w  1
  15  0.0000000e+00 1.37e-02 3.36e-01  -3.8 4.08e+03    -  1.00e+00 1.00e+00w  1
  16  0.0000000e+00 2.44e-11 1.23e+20  -3.8 7.82e+13    -  1.00e+00 1.00e+00h  1
Cannot recompute multipliers for feasibility problem.  Error in eq_mult_calculator

Number of Iterations....: 16

                                   (scaled)                 (unscaled)
Objective...............:   0.0000000000000000e+00    0.0000000000000000e+00
Dual infeasibility......:   1.2337185124541771e+20    1.2337185124541771e+20
Constraint violation....:   2.4354085330986937e-11    2.4354085330986937e-11
Complementarity.........:   0.0000000000000000e+00    0.0000000000000000e+00
Overall NLP error.......:   2.4354085330986937e-11    1.2337185124541771e+20


Number of objective function evaluations             = 65
Number of objective gradient evaluations             = 17
Number of equality constraint evaluations            = 65
Number of inequality constraint evaluations          = 0
Number of equality constraint Jacobian evaluations   = 17
Number of inequality constraint Jacobian evaluations = 0
Number of Lagrangian Hessian evaluations             = 16
Total CPU secs in IPOPT (w/o function evaluations)   =      0.059
Total CPU secs in NLP function evaluations           =      0.001

EXIT: Optimal Solution Found.
degrees_of_freedom: 0
----------------------------------------------------------------------
fs.source1
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.0}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 200000.0}
         : temperature : {0.0: 300}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 29.997000000000007}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 78208791316738.95}
         :    flow_vol : {0.0: 1.7581015853210258e-16}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should skip: source1
----------------------------------------------------------------------
fs.sw_onshore_intake
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 29.997000000000007}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 29.997299972999734}
         :    flow_vol : {0.0: 4.583254167000001}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 5.238529448733282e-29}
         :    flow_vol : {0.0: 4.583299999971757e-05}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost sw_onshore_intake
total_up_cost: 22.373362938679037
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.coag_and_floc
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 29.997299972999734}
         :    flow_vol : {0.0: 4.583254167000001}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 29.997599948999216}
         :    flow_vol : {0.0: 4.583208334458331}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -4.473123346863436e-36}
         :    flow_vol : {0.0: 4.583254166945494e-05}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost coag_and_floc
total_up_cost: 13.654196217986414
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.mixer1
inlet1 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 29.997599948999216}
         :    flow_vol : {0.0: 4.583208334458331}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
inlet2 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 2.8576663861713003e-05}
         :    flow_vol : {0.0: 0.4811102671530845}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 27.147830668627357}
         :    flow_vol : {0.0: 5.064318601611416}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should skip: mixer1
----------------------------------------------------------------------
fs.tri_media_filtration
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 27.147830668627357}
         :    flow_vol : {0.0: 5.064318601611416}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.164253282049216}
         :    flow_vol : {0.0: 4.557886741450274}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 2.7147830668627354e-05}
         :    flow_vol : {0.0: 0.5064318601611416}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost tri_media_filtration
total_up_cost: 17.842225083369772
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.backwash_solids_handling
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 2.7147830668627354e-05}
         :    flow_vol : {0.0: 0.5064318601611416}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 2.8576663861713003e-05}
         :    flow_vol : {0.0: 0.4811102671530845}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -2.2958874039497803e-41}
         :    flow_vol : {0.0: 0.02532159300805708}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost backwash_solids_handling
total_up_cost: 2165.961025124247
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.sulfuric_acid_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.164253282049216}
         :    flow_vol : {0.0: 4.557886741450274}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.164554927598488}
         :    flow_vol : {0.0: 4.55784116258286}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -4.558163016305736e-36}
         :    flow_vol : {0.0: 4.557886741451967e-05}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost sulfuric_acid_addition
total_up_cost: 0.6960759870157919
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.sodium_bisulfite_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.164554927598488}
         :    flow_vol : {0.0: 4.55784116258286}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.16485657616425}
         :    flow_vol : {0.0: 4.5577955841712345}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -1.9454431506108858e-36}
         :    flow_vol : {0.0: 4.55784116253355e-05}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost sodium_bisulfite_addition
total_up_cost: 1.196760329951969
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.cartridge_filtration
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.16485657616425}
         :    flow_vol : {0.0: 4.5577955841712345}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.165158227746524}
         :    flow_vol : {0.0: 4.557750006215393}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -1.691885345718672e-36}
         :    flow_vol : {0.0: 4.5577955841480395e-05}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost cartridge_filtration
total_up_cost: 12.784502940962357
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ro_deep
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 30.165158227746524}
         :    flow_vol : {0.0: 4.557750006215393}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324237147253935}
         :    flow_vol : {0.0: 2.399521326801633}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 47.777113963201}
         :    flow_vol : {0.0: 2.15822867941376}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost ro_deep
total_up_cost: 316.9422807603181
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.lime_softening
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324237147253935}
         :    flow_vol : {0.0: 2.399521326801633}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324380391057844}
         :    flow_vol : {0.0: 2.399497331588365}
         :    pressure : {0.0: 199999.99869999997}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.0418737039124103e-37}
         :    flow_vol : {0.0: 2.399521326790222e-05}
         :    pressure : {0.0: 199999.99869999997}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost lime_softening
total_up_cost: 57.306979536363194
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.co2_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324380391057844}
         :    flow_vol : {0.0: 2.399497331588365}
         :    pressure : {0.0: 199999.99869999997}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324523636294208}
         :    flow_vol : {0.0: 2.399473336615049}
         :    pressure : {0.0: 199999.99859999996}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 6.0244085479642235e-37}
         :    flow_vol : {0.0: 2.3994973315844003e-05}
         :    pressure : {0.0: 199999.99859999996}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost co2_addition
total_up_cost: 8.388688539819318
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.chlorination_twb
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324523636294208}
         :    flow_vol : {0.0: 2.399473336615049}
         :    pressure : {0.0: 199999.99859999996}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324666882963037}
         :    flow_vol : {0.0: 2.399449341881683}
         :    pressure : {0.0: 199999.99849999996}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 9.231992840022462e-37}
         :    flow_vol : {0.0: 2.3994733366006226e-05}
         :    pressure : {0.0: 199999.99849999996}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost chlorination_twb
total_up_cost: 10.074851179808226
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ammonia_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324666882963037}
         :    flow_vol : {0.0: 2.399449341881683}
         :    pressure : {0.0: 199999.99849999996}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324810131064348}
         :    flow_vol : {0.0: 2.3994253473882643}
         :    pressure : {0.0: 199999.99839999995}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -3.062300537136296e-36}
         :    flow_vol : {0.0: 2.3994493418832984e-05}
         :    pressure : {0.0: 199999.99839999995}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost ammonia_addition
total_up_cost: 0.8645112601367955
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.treated_storage_24_hr
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324810131064348}
         :    flow_vol : {0.0: 2.3994253473882643}
         :    pressure : {0.0: 199999.99839999995}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324953380598153}
         :    flow_vol : {0.0: 2.3994013531347904}
         :    pressure : {0.0: 199999.99829999998}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -3.561564211999215e-36}
         :    flow_vol : {0.0: 2.399425347388018e-05}
         :    pressure : {0.0: 199999.99829999998}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost treated_storage_24_hr
total_up_cost: 12.91113794578322
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.municipal_drinking
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.324953380598153}
         :    flow_vol : {0.0: 2.3994013531347904}
         :    pressure : {0.0: 199999.99829999998}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 14.325096631564469}
         :    flow_vol : {0.0: 2.3993773591212593}
         :    pressure : {0.0: 199999.99819999997}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -1.663313026976517e-37}
         :    flow_vol : {0.0: 2.3994013531147832e-05}
         :    pressure : {0.0: 199999.99819999997}
         : temperature : {0.0: 299.9998}
Show some costing values

In [26]:
47.76940317731357 * 2.1585770538571527 * 3600

371210.1752700001

In [28]:
import generate_constituent_list
generate_constituent_list.run()

['TDS']

In [24]:
water = 8639 #m3/h
rec = 0.9935 #
tds = 35.000 #mg/L

In [25]:
tds * rec * water

300399.6275

In [12]:
cost_variables = [
    "total_up_cost",
    "fixed_cap_inv_unadjusted",
    "fixed_cap_inv",
    "total_fixed_op_cost",
    "total_cap_investment",
    "land_cost",
    "working_cap",
    "catalysts_chemicals",#
    #"electricity",##
    "cap_replacement_parts", #
    "salaries",
    "benefits",
    "maintenance",
    "lab",
    "insurance_taxes",
    "base_employee_salary_cost",
    
    "cat_and_chem_cost",##
    "labor_and_other_fixed",#
    "consumer_price_index",#
    
    "electricity_cost", ##
    "other_var_cost"   ## 
]

In [13]:
variables = cost_variables + ["inlet_flow", "outlet_flow", "waste_flow"]

In [14]:
import case_study_trains
unit_process_names = case_study_trains.get_unit_processes(case_study_trains.case_study)

In [15]:
def get_results_table(model, unit_process_names, scenario = None, case_study = None):
    # could make a dictionary if betteR?
    value_list = [] 
    up_list = []
    scenario_list = []
    unit_list = []
    variable_list = []
    case_study_list = []
    
    for node in unit_process_names:
        
        for variable in variables:
            
            if variable == "inlet_flow":
                value_list.append(getattr(m.fs, node).inlet.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            elif variable == "outlet_flow":
                value_list.append(getattr(m.fs, node).outlet.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            elif variable == "waste_flow":
                value_list.append(getattr(m.fs, node).waste.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            else:
                # call m.fs.'node'.costing.'variable'() for each node and variable
                costing_attr = getattr(m.fs, node).costing
                cost_method = getattr(costing_attr, variable) #m.fs.swoi.costing.total_up_cost            
            
                if type(cost_method) == int:
                    cost_method = np.float64(cost_method)

                if type(cost_method) == np.float64:
                    cost_value = cost_method
                else:
                    cost_value = cost_method()
                # append ^ to a list
                value_list.append(cost_value)            
                variable_list.append(variable)
                unit_list.append("$MM")        
        
            up_list.append(node)
            scenario_list.append(scenario)
            case_study_list.append(case_study)
    
    df = pd.DataFrame()
    df["Case_Study"] = case_study_list
    df["Scenario"] = scenario_list
    df["Unit_Process"] = up_list
    df["Variable"] = variable_list
    df["Unit"] = unit_list
    df["Value"] = value_list
    
    #print(df)
    return df

In [16]:
t1 = get_results_table(m, unit_process_names, scenario = "Baseline", case_study = "Carlsbad")

In [17]:
t1

,Case_Study,Scenario,Unit_Process,Variable,Unit,Value
0,Carlsbad,Baseline,sw_onshore_intake,total_up_cost,$MM,2.237336e+01
1,Carlsbad,Baseline,sw_onshore_intake,fixed_cap_inv_unadjusted,$MM,2.030878e+01
2,Carlsbad,Baseline,sw_onshore_intake,fixed_cap_inv,$MM,2.098031e+01
3,Carlsbad,Baseline,sw_onshore_intake,total_fixed_op_cost,$MM,3.125715e-01
4,Carlsbad,Baseline,sw_onshore_intake,total_cap_investment,$MM,2.206079e+01
...,...,...,...,...,...,...
363,Carlsbad,Baseline,landfill,electricity_cost,$MM,0.000000e+00
364,Carlsbad,Baseline,landfill,other_var_cost,$MM,0.000000e+00
365,Carlsbad,Baseline,landfill,inlet_flow,m3/s,2.532159e-02
366,Carlsbad,Baseline,landfill,outlet_flow,m3/s,2.532134e-02
367,Carlsbad,Baseline,landfill,waste_flow,m3/s,2.532159e-07

In [20]:
t1[t1.Variable == "total_up_cost"]

,Case_Study,Scenario,Unit_Process,Variable,Unit,Value
0,Carlsbad,Baseline,sw_onshore_intake,total_up_cost,$MM,22.373363
23,Carlsbad,Baseline,coag_and_floc,total_up_cost,$MM,13.654196
46,Carlsbad,Baseline,tri_media_filtration,total_up_cost,$MM,17.842225
69,Carlsbad,Baseline,sulfuric_acid_addition,total_up_cost,$MM,0.696076
92,Carlsbad,Baseline,sodium_bisulfite_addition,total_up_cost,$MM,1.196760
115,Carlsbad,Baseline,cartridge_filtration,total_up_cost,$MM,12.784503
138,Carlsbad,Baseline,ro_deep,total_up_cost,$MM,316.942281
161,Carlsbad,Baseline,lime_softening,total_up_cost,$MM,57.306980
184,Carlsbad,Baseline,co2_addition,total_up_cost,$MM,8.388689
207,Carlsbad,Baseline,chlorination_twb,total_up_cost,$MM,10.074851
230,Carlsbad,Baseline,ammonia_addition,total_up_cost,$MM,0.864511
253,Carlsbad,Baseline,treated_storage_24_hr,total_up_cost,$MM,12.911138
276,Carlsbad,Baseline,municipal_drinking,total_up_cost,$MM,7.791339
299,Carlsbad,Baseline,backwash_solids_handling,total_up_cost,$MM,2165.961025
322,Carlsbad,Baseline,surface_discharge,total_up_cost,$MM,31.883676
345,Carlsbad,Baseline,landfill,total_up_cost,$MM,0.018701

In [ ]:
t1.to_csv("results_v2.csv")

In [ ]:
cost_range_list = []; #results will be inputted in this array
#up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.

#for value_change in pct_to_target1: # cycles through each value from MC range
for value_change in [0.4, 0.8]: #, 0.9]:

    # create and build model
    m = wt.watertap_setup(dynamic = False)
    m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

    m.fs.tri_media_filtration.water_recovery.fix(value_change)

    # set variable to MC value
    wt.run_water_tap(m)
    results_table = get_results_table(m, unit_process_name)
    cost_range_list.append(results_table.total_up_cost.sum())

In [ ]:
cost_range_list

In [ ]:
import time
from multiprocessing import Pool
import multiprocessing

mu = 0.6
sigma = .1
num_reps = 50

input_list = np.random.normal(mu,sigma, size = num_reps) #, sigma, num_reps).round(4)

count, bins, ignored = plt.hist(input_list, 25, density=True)
plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) * np.exp( - (bins - mu)**2 / (2 * sigma**2) ),
          linewidth=2, color='r')
plt.show()

### INPUT TO MODEL LIST: ### CAN BE AUTOMATED FOR USER TO LABEL THE VARIABLE. TOOD ###
no_of_proc = 4
list_final = []
for i in range(no_of_proc):
    part2 = len(input_list) / no_of_proc
    i2 = ((i+1)*part2)
    list1 = input_list[int(i*part2):int(i2)]
    list_final.append(list1)
    
    
def monte_run(list_final):
    print('goes in')

    up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.
    cost_range_list = []; #results will be inputted in this array

    #for value_change in pct_to_target1: # cycles through each value from MC range
    for value_change in list_final:

        # create and build model
        m = wt.watertap_setup(dynamic = False)
        m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

        getattr(m.fs, up_name).water_recovery.fix(value_change)

        # set variable to MC value
        result = wt.run_water_tap(m)
        results_table = get_results_table(m, unit_process_names)
        cost_range_list.append(results_table.total_up_cost.sum())


    return cost_range_list

startTime = time.time()

pool=Pool()
dfs = pool.map(monte_run, list_final) #SomeClass().preprocess_data()

executionTime = (time.time() - startTime)
print('Execution time in seconds: ' + str(executionTime))

In [ ]:
####TO DO LOAD AND SAVE!!

In [ ]:
#### SAVE TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# wt.save_train(T, path)

In [ ]:
# #### LOAD TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# TT = wt.load_train(path)

In [ ]:
# wt.display.show_train(TT)