In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [11]:
glob.glob('*')

['CarlsbadCompare.csv',
 'compare.ipynb',
 'excel_result.xlsx',
 'excel_to_python_names.csv',
 'WT3Excel_Case_Study_Data_10Feb2021.xlsm']

In [28]:
excel = pd.read_excel('excel_result.xlsx')
excel['Source'] = 'excel'

In [30]:
excel

,Case_Study,Scenario,Train,Unit_Process,Variable,Unit,Value,Source
0,Carlsbad,Baseline,A,sw_onshore_intake,Fixed Capital Investment (FCI),$MM,20.982722,excel
1,Carlsbad,Baseline,A,sw_onshore_intake,Land_Cost,$MM,0.031474,excel
2,Carlsbad,Baseline,A,sw_onshore_intake,Working Capital,$MM,1.049136,excel
3,Carlsbad,Baseline,A,sw_onshore_intake,Total Capital Investment (TCI),$MM,22.063332,excel
4,Carlsbad,Baseline,A,sw_onshore_intake,Catalysts and Chemicals,$MM/yr,0.000000,excel
...,...,...,...,...,...,...,...,...
2373,Santa_Barbara,Baseline,C,ro_deep,Labor_and_Other_Fixed_Costs,NaN,1.257370,excel
2374,Santa_Barbara,Baseline,C,ro_deep,Consumer_Price_Index,NaN,1.258749,excel
2375,Santa_Barbara,Baseline,C,ro_deep,Grid_Electricity,kWh,1.331162,excel
2376,Santa_Barbara,Baseline,C,ro_deep,Inlet Water,m3/hr,333.900000,excel
2377,Santa_Barbara,Baseline,C,ro_deep,Outlet Water,m3/hr,157.064803,excel

In [29]:
py = pd.read_csv('CarlsbadCompare.csv',index_col=0)
py.rename(columns={"Unit Process Name": "Unit_Process", "Case Study": "Case_Study"}, inplace=True)
py['Source'] = 'python'

In [31]:
both = pd.concat([excel,py])
pivot = pd.pivot_table(both, values='Value', 
                             index=['Case_Study','Scenario','Unit_Process','Variable','Unit'], 
                             columns=['Source']).reset_index()

In [33]:
# compare = pivot[(pivot['Case_Study']=='Carlsbad')&(pivot['Scenario']=='Baseline')]
# compare.to_csv('check.csv',index=False)

In [36]:
pivot.to_csv('check_ful.csv',index=False)

In [9]:
name = pd.read_csv('excel_to_python_names.csv')
name

                           Excel_variable            Python_variable    Unit
0          Fixed Capital Investment (FCI)              fixed_cap_inv     $MM
1                                    Land                  land_cost     $MM
2                         Working Capital                working_cap     $MM
3          Total Capital Investment (TCI)       total_cap_investment     $MM
4                 Catalysts and Chemicals          cat_and_chem_cost  $MM/yr
5                             Electricity           electricity_cost  $MM/yr
6                Fuel and Other Utilities                     (none)  $MM/yr
7                       Replacement Parts                     (none)  $MM/yr
8                         Other Operating             other_var_cost  $MM/yr
9                Total Variable Operating                     (none)  $MM/yr
10                      Employee Salaries                   salaries  $MM/yr
11                               Benefits                   benefits  $MM/yr
12                            Maintenance                maintenance  $MM/yr
13                             Laboratory                        lab  $MM/yr
14                    Insurance and Taxes            insurance_taxes  $MM/yr
15                 Total Fixed Operating         total_fixed_op_cost  $MM/yr
16  Capacity_Basis_for_Fixed_Capital_Cost                     (none)       0
17                Base_Fixed_Capital_Cost                     (none)     $MM
18               Capital_Scaling_Exponent                     (none)       0
19                   Base Employee Salary  base_employee_salary_cost  $MM/yr
20         Fixed_Op_Cost_Scaling_Exponent  fixed_op_cost_scaling_exp       0
21                             Basis_Year                  base_year       0
22          Capital_and_Replacement_Parts      cap_replacement_parts       0
23                Catalysts_and_Chemicals        catalysts_chemicals       0
24            Labor_and_Other_Fixed_Costs      labor_and_other_fixed       0
25                   Consumer_Price_Index       consumer_price_index       0
26                Electricity consumption                electricity  kWh/m3
27                            Inlet Water                flow_vol_in   m3/hr
28                           Outlet Water               flow_vol_out   m3/hr
29                             Total Cost                     (none)     $MM
30         Fixed Capital Investment (FCI)   capital_investment_total     $MM
31                Catalysts and Chemicals    cat_and_chem_cost_total     $MM
32                            Electricity     electricity_cost_total     $MM
33               Other Variable Operating       other_var_cost_total     $MM
34                        Fixed Operating        fixed_op_cost_total     $MM
35                        Total Operating       operating_cost_total     $MM
36                     Capital Investment  capital_investment_annual  $MM/yr
37                Catalysts and Chemicals   cat_and_chem_cost_annual  $MM/yr
38                            Electricity    electricity_cost_annual  $MM/yr
39               Other Variable Operating      other_var_cost_annual  $MM/yr
40                        Fixed Operating       fixed_op_cost_annual  $MM/yr
41                   Total Operating Cost      operating_cost_annual  $MM/yr
42                         Levelized Cost                       LCOW    $/m3